<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>球队列表</title>
    <link th:href="@{/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/group.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/axios.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap.js}"></script>
    <script>
        const request = axios.create()

        async function del(id) {
            console.log(id)
            const params = {
                id
            }
            const data = await request({
                url: "/group/del",
                params
            })
            if (data) {
                alert("删除成功")
                location.reload();
            } else {
                alert("删除失败，该球队已含有角色")
            }

        }

        function linkTo(path) {
            location.href = path
        }

        function search() {
            const text = $("#keyword").val()
            linkTo("/group/list?keyword=" + text)
        }

    </script>
</head>
<body>
<div class="app-layout">
    <div class="accordion" id="accordionExample" style="width: 20%;">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        球队管理
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <li class="list-group-item" onclick="linkTo('/group/list')">球队管理</li>
                    <li class="list-group-item" onclick="linkTo('/group/update')">更新球队</li>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        球员管理
                    </button>
                </h2>
            </div>

            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <li class="list-group-item" onclick="linkTo('/player/list')">球员列表</li>
                    <li class="list-group-item" onclick="linkTo('/player/list')">更新球员</li>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 80%;padding: 20px">
        <div style="display: flex">
            <input id="keyword" type="text"/>
            <button onclick="search()">搜索</button>
        </div>

        <table border="1" class="table">

            <thead>
            <tr>
                <th>球队名称</th>
                <th>球队照片</th>
                <th>球队详细信息</th>
                <th>球队成立时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="item:${GroupList}">
                <td th:text="${item.name}"></td>
                <td>
                    <img th:src="'/img/'+${item.avatar}" style="width: 300px;height: 300px"/>
                </td>
                <td th:text="${item.desc}"></td>
                <td th:text="${item.createTime}"></td>
                <td>
                    <button class="btn btn-primary" th:onclick="linkTo('/group/update?id='+[[${item.id}]])">编辑</button>
                    <button class="btn btn-danger" th:onclick="del([[${item.id}]])">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>