<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>球员列表</title>
    <link th:href="@{/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/group.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/axios.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap.js}"></script>
    <script>
        const request = axios.create()

        async function del(id) {
            const params = {
                id
            }
            await request({
                url: "/player/del",
                params
            })
            alert("删除成功")
            location.reload();
        }

        function linkTo(path) {
            location.href = path
        }

        function search() {
            const text = $("#keyword").val()
            linkTo("/player/list?keyword=" + text)
        }


    </script>
</head>
<body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 bg-dark" style="height: 100vh">
                    <ul class="nav flex-column">
                        <li class="nav-item" onclick="linkTo('/team/list')">
                            <a class="nav-link text-light"  >球队管理</a>
                        </li>
                        <li class="nav-item" onclick="linkTo('/team/update')">
                            <a class="nav-link text-light" >添加球队</a>
                        </li>
                        <li class="nav-item"  onclick="linkTo('/player/list')">
                            <a class="nav-link text-light" >球员管理</a>
                        </li>
                        <li class="nav-item" onclick="linkTo('/player/update')">
                            <a class="nav-link text-light"  >添加球员</a>
                        </li>
                    </ul>
                </div>
                <div class="col-10">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Player</a></li>
                            <li class="breadcrumb-item active" aria-current="page">List</li>
                        </ol>
                    </nav>
                    <div class="input-group mb-3">
                        <input  id="keyword" type="text" class="form-control" placeholder="请输入球员名称" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="search()">查询</button>
                        </div>
                    </div>
                    <table border="1" class="table">
                        <thead  class="thead-dark">
                        <tr>
                            <th>球员姓名</th>
                            <th>球员照片</th>
                            <th>球员年龄</th>
                            <th>球员国籍</th>
                            <th>所属球队Id</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item:${PlayerList}">
                            <td th:text="${item.p_name}"></td>
                            <td>
                                <img th:src="'/img/'+${item.img_src}" style="width: 100px;height: 100px"/>
                            </td>
                            <td th:text="${item.age}"></td>
                            <td th:text="${item.nationality}"></td>
                            <td th:text="${item.team_id}"></td>
                            <td>
                                <button class="btn btn-primary"
                                        th:onclick="linkTo('/player/update?id='+[[${item.id}]])">编辑
                                </button>
                                <button class="btn btn-danger" th:onclick="del([[${item.id}]])">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</body>
</html>