<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>球队添加</title>
    <link th:href="@{/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/axios.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-dark" style="height: 100vh">
            <ul class="nav flex-column">
                <li class="nav-item" onclick="linkTo('/team/list')">
                    <a class="nav-link text-light">球队管理</a>
                </li>
                <li class="nav-item" onclick="linkTo('/team/update')">
                    <a class="nav-link text-light">添加球队</a>
                </li>
                <li class="nav-item" onclick="linkTo('/player/list')">
                    <a class="nav-link text-light">球员管理</a>
                </li>
                <li class="nav-item" onclick="linkTo('/player/update')">
                    <a class="nav-link text-light">添加球员</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Team</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Update</li>
                </ol>
            </nav>
            <div id="postForm">
                <div class="form-group">
                    <label for="t_name">球队名称</label>
                    <input type="t_name" id="t_name" name="title" class="form-control" placeholder="请输入球队名称">
                </div>

                <div class="form-group">
                    <label for="country">球队国家</label>
                    <textarea id="country" name="country" class="form-control" placeholder="请输入球队国家"></textarea>
                </div>

                <div class="form-group">
                    <label for="coach">教练名称</label>
                    <input type="coach" id="coach" name="title" class="form-control" placeholder="请输入教练名称">
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary" th:onclick="submit([[${id}]])">提交</button>
                    <button type="button" class="btn btn-secondary" onclick="cancel()">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const request = axios.create()

    // 修改球员
    function modify(data) {
        return request({
            url: "/team/modify",
            method: "post",
            data
        })
    }

    // 添加球队
    function add(data) {
        return request({
            url: "/team/add",
            method: "post",
            data
        })
    }

    // 提交
    function submit(id) {
        const t_name = $("#t_name").val()
        const country = $("#country").val()
        const coach = $("#coach").val()
        const body = {
            t_name,
            country,
            coach
        }
        if (id) {
            body.id = id;
            modify(body)
        } else {
            add(body)
        }
    }

    // 跳转方法
    function linkTo(path) {
        location.href = path
    }



</script>
</body>
</html>