<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.GroupMapper">
    <parameterMap id="Pagination" type="com.example.demo.pojo.Pagination">
        <parameter property="offset" javaType="string" />
        <parameter property="size" javaType="string" />
        <parameter property="page" javaType="string" />
        <parameter property="keyword" javaType="string" />
    </parameterMap>
    <resultMap type="java.lang.Integer" id="total">
        <result column="total"/>
    </resultMap>

    <resultMap type="com.example.demo.pojo.Group" id="Group">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="g_name" jdbcType="VARCHAR" property="name"/>
        <result column="g_avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="g_desc" jdbcType="VARCHAR" property="desc"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
    </resultMap>
<!--    获取列表 -->
    <select id="getList" parameterType="Pagination" resultMap="Group">
        select * from ball_group where 1 = 1 and ball_group.g_name like #{keyword} limit #{offset},#{size};
    </select>
    <!--    修改 -->
    <update id="modify"  parameterType="com.example.demo.pojo.Group">
        update ball_group set g_name = #{name},
                              g_avatar = #{avatar},
                              g_desc = #{desc}
        where id = #{id}
    </update>
    <!--    删除 -->

    <delete id="del" parameterType="String">
        delete from ball_group where id = #{id}
    </delete>
    <!--    添加 -->
    <insert id="add" parameterType="com.example.demo.pojo.Group" >
        insert into ball_group(g_name,g_avatar,g_desc,create_time) values  (#{name},#{avatar},#{desc},#{createTIme})
    </insert>
    <!--    获得球队中球员的数量 -->
    <select id="getCount" parameterType="String" resultMap="total">
        select count(*) as total from ball_group,player
        where ball_group.id = player.group_id and ball_group.id = #{id};
    </select>
</mapper>