<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.GroupMapper">
    <parameterMap id="Pagination" type="com.example.demo.pojo.Pagination">
        <parameter property="offset" javaType="string" />
        <parameter property="size" javaType="string" />
        <parameter property="page" javaType="string" />
        <parameter property="keyword" javaType="string" />
    </parameterMap>

    <resultMap type="com.example.demo.pojo.Group" id="Group">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="g_name" jdbcType="VARCHAR" property="name"/>
        <result column="g_avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
    </resultMap>
    <select id="getList" parameterMap="Pagination" resultMap="Group">
        select * from ball_group where 1 = 1 and ball_group.g_name like #{keyword} limit #{offset},#{size};
    </select>
</mapper>